.inpfetch{
    border: none;
}
@media screen and (max-width: 767px){
    .img-fix{
        height: 100px;
        width: 150px;
    }
    .col-fix{
        margin: 50px 15px 0 0;
        width: 225px;
    }
    .col-fix2{
        margin: 0 0 0 25px;
        width: 225px;
    }
}